

body{
  background-color: rgb(31, 29, 44);
  color:white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.connect{
  font-size: 20px;
  border:none;
  background-color: rgb(0, 13, 255);
  color:white;
  cursor:pointer;
  padding: 20px 30px;
  border-radius: 20px;
}

.connect:hover{
  background-color: rgb(0, 10, 197);
}

.f {
  display: flex
}

.f-c{
  flex-direction: column;
}

.f-r{
  flex-direction: row;
}

.functionTitle{
  /* margin-top: 25px; */
  padding-top: 25px;
}

.function{
  align-items: center;
  font-size: 25px;
  gap:2rem;
  margin: auto;
  width:100%;
  justify-content: center;
  margin: 25px 0;
}

.functionCall {
  font-size: 20px;
  border:none;
  background-color: rgb(217, 31, 31);
  color:white;
  font-weight: bold;
  cursor:pointer;
  padding: 20px 30px;
  border-radius: 20px;
  width:max-content; 
}

.functionCall:hover{
  background-color: rgb(151, 22, 22);
}

form {
  display: flex;
  width:max-content;
  margin:auto;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #eff1f5;
  padding:40px;
  border-radius: 10px;
  min-width: 350px;
  margin-bottom: 20px;
  color:black;
}

form label {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  
}

form input{
  padding:10px;
  font-size: 16px;
  border: 2px solid rgb(196, 196, 196);
  border-radius:8px;
  margin-bottom: 10px;
}

form .submit {
  cursor:pointer;
}

form .submit:hover{
  background-color: rgb(219, 219, 219);
}

.tokenDetail{
  background-color: black;
  width:100vw;
  margin-bottom: 0;
  border-bottom: 5px solid rgb(217, 217, 250);
}

h3 span{
  color: rgb(255, 208, 0);
  font-size: 30px;
  font-weight: 100;

}